
<br/>
<br />
<br />
<header class="">Fill out the information below to validate the E911 Address</header> 
<br />
<form class="mx-auto" style="width: 500px;">
    <div class='mx-auto'>
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email_address">
    </div>
    <div class='mx-auto'>
        <label for="password">Password</label>
        <input type="email" class="form-control" id="password">
    </div>
</form>