
<br/>
<br />
<br />
<form class="mx-auto" style="width: 500px;">
    
    <header>Fill out the information below to validate the E911 Address</header> 
    <div class='mx-auto'>
        <label for="testbootstrap1">Email Address</label>
        <input type="email" class="form-control" id="testbootstrap1">
    </div>
</form>