<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <form class="mx-auto" style="width: 500px;" id="login_form">
                <div class='mx-auto'>
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email_address">
                </div>
                <div class='mx-auto'>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <br />
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Login</button>
                </div>
            </form> 
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>